<template>
  <div class="container">
    <div class="history">
      <ul>
        <li v-for="item,i in graphDataCache" :data-id="i">
          <span>{{item.label}}</span>
          <span class="remove" @click="removeRelation(item,i)"><i class="el-icon-close"></i></span>
        </li>
      </ul>
    </div>
    <div ref="graphMount" id="mount"></div>
    <!-- Попап с информацией -->
    <el-dialog :visible.sync="infoOpened"
               title="Данные узла"
               @on-confirm="closeInfoDialog"
               @on-cancel="closeInfoDialog">
      <template v-for="v,k in infoData">
        <p class="info-content">
          <span class="prop">{{k | translate}}</span>:
          <span class="value">{{v}}</span>
        </p>
      </template>
      <div slot="footer">
        <el-button @click="closeInfoDialog" type="primary" plain>OK</el-button>
      </div>
    </el-dialog>
    <!-- Контекст выбора связи -->
    <sci-context :opened="relationContextOpened" :position="contextPosition">
      <ul class="relation-menu" slot="content">
        <li v-for="relation in relations" @click="searchByRelation(relation.code, relation.caption)">{{relation.caption}}</li>
      </ul>
    </sci-context>
    <div class="legend">
      <ul class="legend__list" slot="content">
        <li class="legend__item" v-for="label, index in labels">
          <span class="legend__label-marker" :style="{backgroundColor: colors[index*2 +1]}"></span>
          <span class="legend__label">{{label}}</span>
        </li>
      </ul>
    </div>
  </div>
</template>

<script>
  import Vue from "vue";
  import {mapGetters, mapState, mapActions} from "vuex";
  import converter from "@/utils/graph.converter";
  import {SciGraph, initGraph, colors} from "../../utils/graph.drawer";
  import { EventBus } from "@/utils/eventBus";
  import _ from "lodash";
  import nodeTypeFields from "../../meta/nodeTypes.json";
  import nodeRelations from "../../meta/nodeRelations.json";
  import dictionary from "../../lang/dictionary.json";
  import SciContext from "@/components/SciContext/SciContext.vue";
  export default {
    name: 'SciGraph',
    created () {
      EventBus.$on('menu-click', this.menuClick.bind(this))
//      EventBus.$on('svg-ready', () => {
//        console.log('created')
//        window.addEventListener('resize', this.svgResize())
//      })
      window.addEventListener('click', this.closeRelationMenu.bind(this))
    },
    mounted() {
      if (this.convertedGraphData) {
        this.sciGraph = new SciGraph(this.$refs.graphMount, {}, this.convertedGraphData)
        this.sciGraph.update(this.convertedGraphData)
      }
    },
    data () {
      return {
        sciGraph: null,
        infoOpened: false,
        infoData: {},
        relationContextOpened: false,
        relations: [],
        contextPosition: {x: 0, y: 0},
        colors: colors
      }
    },
    computed: {
      labels () {
        if (!this.convertedGraphData || !this.convertedGraphData.labels) return []
        return this.convertedGraphData.labels.map(function (label) { return dictionary[label] })
      },
      ...mapGetters(['convertedGraphData']),
      ...mapState({
        graphDataCache: state => state.graph.graphDataCache
      })
    },
    watch: {
      convertedGraphData (data) {
        if (!data) return
        if (!this.sciGraph) this.sciGraph = new SciGraph(this.$refs.graphMount, {}, data)
        this.sciGraph.update(data)
      }
    },
    methods: {
      svgResize () {
        Vue.nextTick(function () {
          console.log('>>', this.sciGraph)
          let svg = this.sciGraph.svg
          let svgHeight = window.innerHeight - 120
//                    svg.style("height", svgHeight);
        }, this)
      },
      menuClick (data, e) {
        if (!data.data.action || !this[data.data.action + 'Action']) return
        this[data.data.action + 'Action'](data, e)
      },
      infoAction (data, e) {
        this.infoData = this.resolveNodeData(data)
        this.infoOpened = true
      },
      linksAction (data, e) {
        const nodeType = data.labels[0]
        this.nodeData = data
        this.relations = this._buildRelations(nodeType)
        this.contextPosition = {x: e.layerX, y: e.layerY}
        this.relationContextOpened = true
        console.log(this.relations)
      },
      _buildRelations (nodeType) {
        return nodeRelations[nodeType].map((obj) => {
          return {code: obj.code, caption: dictionary[obj.caption]}
        })
      },
      closeInfoDialog () {
        this.infoOpened = false
      },
      resolveNodeData (data) {
        return _.pick(data, nodeTypeFields[data.labels[0]])
      },
      closeRelationMenu (e) {
        this.relationContextOpened = false
      },
      async searchByRelation (relation, labelName) {
        console.log('LABELNAME', labelName)
        const id = this.nodeData.id
        await this.getGraphDataByRelation({id, relation, labelName})
        this.$router.push('graph')
      },
      removeRelation (relation, index) {
        if (!index) {
          this.clearGraphData()
          this.clearGraphDataCache()
          return EventBus.$emit('drop')
        }
        this.popGraphDataCache(this.graphDataCache.length - index)
        this.setGraphData(this.graphDataCache[this.graphDataCache.length-1].data)
      },

      ...mapActions([
        'getGraphDataByRelation',
        'popGraphDataCache',
        'setGraphData',
        'clearGraphData',
        'clearGraphDataCache'
      ])
    },
    filters: {
      translate: function (v) {
        return dictionary[v] || v
      }
    },
    components: {
      SciContext
    }
  }
</script>

<style lang="scss">
  @import "SciGraph";
</style>
