@import "../../../../styles/vars.scss";

#mount {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.container {
  position: relative;
  padding: 10px 0 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

path.relationships {
  fill: none;
  stroke: #999;
  stroke-opacity: .7;
  stroke-width: 1.5px;
}

path.rels-overlay {
  fill: none;
  stroke: transparent;
  stroke-opacity: .7;
  stroke-width: 14px;
}

.relation-menu li {
  cursor: pointer;
  padding: 5px 10px;
  &:hover {
    background: darken($lightBackground,10);
    transition: background .2s ease-in;
  }
}

.link {
  &:hover {
    cursor: pointer;
  }

  &:hover > path.rels-overlay {
    stroke: #fea;
  }
}

.node {

  &--hover {
    opacity: 0;
  }

  &:hover,
  &--selected {
    cursor: pointer;

    .node--hover {
      opacity: 0.5;
    }
  }

  circle {
    fill: #ccc;
    stroke: #fff;
    stroke-width: 1.5px;
  }

  text {
    fill: #000;
    font: 10px sans-serif;
    pointer-events: none;
  }
}

g.menu-segment-container {
  image {
    pointer-events: none;
  }
}

path.menu-segment {
  fill: #c0c0c0;
  stroke: white;

  &:hover {
    fill: #d0d0d0;
  }
}

.info-content {
  .prop {
    font-weight: 900;
  }
}

.history {
  width: 100%;
  flex-shrink: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

.history ul {
  margin-left: 35px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.history ul li {
  margin-bottom: 10px;
  flex-shrink: 0;
  display: inline-block;
  background: darken($primaryColor,1);
  color: $lightBackground;
  border-radius: 5px;
  margin-left: 10px;
  padding: 5px 10px;
  &:hover {
    background: darken($primaryColor,5);
  }
  .remove {
    cursor: pointer;
    &:hover {
      color: darken($primaryColor,25);
    }
  }
}

.node-body {
  display: flex;
  align-items: center;
  align-content: center;
  background-color: transparent;
  overflow: hidden;
}

.node-caption {
  width: 100%;
  background-color:  transparent;
  text-align: center;
  font-size: 8px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
}

.legend {
  position: absolute;
  bottom: 10px;
  left: 35px;
}

.legend__item {
  float:left;
  margin-right: 20px;
}

.legend__label-marker {
  display: inline-block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  float: left;
}


.legend__label {
  margin-left: 10px;
  line-height: 30px;
  vertical-align: middle;
}
