@import "../../styles/vars.scss";

$contextBackground: $lightBackground;
$contextBorderColor: $borderColor;
$contextBoxshadow: $boxShadow;
$contextPadding: 0px;

.context {
  position: absolute;
  top: 0;
  left: 0;
  background: $contextBackground;
  padding: $contextPadding;
  box-shadow: $contextBoxshadow;
  border: 1px solid $contextBorderColor;
}

.context.opened {
  animation: contextOpens .2s forwards;
}


@keyframes contextOpens {
    0% {
      opacity: 0;
      transform: translateY(-50px);
    }
    100% {
      opacity: 1;
      transform: translateY(0px);
    }
}
