<template>
    <div :class="{context:true, opened:opened, closed:!opened}" v-show="opened" :style="{ left: position.x + 'px', top: position.y + 'px' }">
        <slot name="content"></slot>
    </div>
</template>

<script>
    export default {
        name: "SciContext",
        props:["opened","position"]
    }
</script>

<style lang="scss" scoped>
    @import "SciContext.scss";
</style>