<template>
  <section class="custom-table">
    <p v-if="isEmpty">Пока здесь нет данных</p>
    <div class="custom-table__common-wrapper" v-else>
      <div class="custom-table__table-body">
        <vue-good-table
          v-loading="loading"
          class="table table-stripped"
          :columns="columns"
          :rows="rows"
          :lineNumbers="true"
          :nextText="'след.'"
          :prevText="'пред.'"
          :rowsPerPageText="'строк на странице'"
          :ofText="'из'"
          styleClass="table table-bordered table-striped">
          <template slot="table-row-after" slot-scope="props">
            <td style="width: 400px;" align="center">
              <el-button
                v-if="info"
                type="info"
                size="small"
                @click="onInfo(props)">
                <i class="el-icon-info"></i>
              </el-button>
              <el-button
                v-if="edit"
                size="small"
                @click="onEdit(props)">
                <i class="el-icon-edit"></i>
              </el-button>
              <el-button
                v-if="remove"
                size="small"
                type="danger"
                @click="onDelete(props)">
                <i class="el-icon-circle-close"></i>
              </el-button>
            </td>
          </template>
        </vue-good-table>
      </div>
      <div class="custom-table__pagination">
        <el-pagination
          background
          @size-change="onSizeChange"
          @current-change="onCurrentChange"
          :current-page.sync="currentPage"
          :page-sizes="pageSizes"
          :page-size="pageSize"
          layout="total, sizes, prev, pager, next"
          :total="data.count">
        </el-pagination>
      </div>
    </div>
    <el-dialog :title="$t('ATTENTION')" :visible.sync="dialogVisible">
      <p>{{$t('REMOVE_CONFIRM')}}</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">{{$t('CANCEL')}}</el-button>
        <el-button type="primary" @click="onDialogConfirm">{{$t('CONFIRM')}}</el-button>
      </span>
    </el-dialog>
  </section>
</template>

<script>
  import Vue from 'vue'

  /**
   *  CUSTOM-TABLE component is combination from:
   *    https://www.npmjs.com/package/vue-good-table
   *    http://element.eleme.io/#/en-US/component/pagination
   *
   *    API: see props
   *    EVENTS: 'data-loaded', payload = response;  fires after success data fetch
   */
  export default {
    data() {
      return {
        pageSizes: [10, 20, 50],
        pageSize: 10,
        currentPage: 1,
        start: 0,
        limit: 10,
        dialogVisible: false,
        temp: {},
        data: {},
        loading: false
      }
    },
    watch: {
      outerData(newVal, oldVal) {
        this.data = {items: newVal}
      }
    },
    // Table API
    props: {
      // array of columns, more https://www.npmjs.com/package/vue-good-table
      // CUSTOM: if filterDropDown set to true, this column can accept prop "loadOptions" for API Function
      columns: {
        type: Array
      },
      // Array of available options ['info' || 'edit' || 'remove']
      actions: {
        type: Array
      },
      // Specify module name for operate nested routes or set query params to URL
      module: {
        type: String
      },
      // API Function for table data fetch
      getData: {
        type: Function
      },
      // If action 'remove' set you must pass the remove API for this action
      deleteItem: {
        type: Function
      },
      custom: {
        type: Object
      },
      // If you want to manage data in parent component set it to  true
      outerManage: {
        type: Boolean
      },
      // If externalManage set to true, data array required from parent
      outerData: {
        prop: Array
      }
    },
    created() {
      if (this.outerManage) {
        return
      }
      this.currentPage = Number(this.$route.query.page) || 1
      if (this.getData) this.loadData()
      this.loadDropdowns()
    },
    computed: {
      rows() {
        return this.data.items || []
      },
      isEmpty() {
        if (this.loading) return
        if (Array.isArray(this.data.items)) return !(this.data.items.length)
        return false
      },
      // Nikita: added the possibility to pass handlers to actions for unusual actions
      info() {
        let actionObject = this.findActionObject('info')
        return this.actions.indexOf('info') >= 0 || actionObject
      },
      edit() {
        let actionObject = this.findActionObject('edit')
        return this.actions.indexOf('edit') >= 0 || actionObject
      },
      remove() {
        let actionObject = this.findActionObject('remove')
        return this.actions.indexOf('remove') >= 0 || actionObject
      }
    },
    methods: {
      async loadData() {
        this.loading = true
        let params = {
          limit: this.limit,
          start: this.start
        }
//        const response = await this.getData(this.id, {limit, start}) //
        const response = await this.getData(params)
        this.data = this._dictionaryMiddleware(response.data)
        this.loading = false
        this.$emit('data-loaded', response)
      },
      findActionObject(key) {
        return this.actions.find(function (action) {
          return typeof action === 'object' && action.key === key
        });
      },
      onInfo(data) {
        let actionObject = this.findActionObject('info')
        if (actionObject && actionObject.handler) {
          actionObject.handler(data);
          return
        }
        this.$router.push({name: `${this.module}.info`, params: {id: data.row.id}})
      },
      onEdit(data) {
        let actionObject = this.findActionObject('edit')
        if (actionObject && actionObject.handler) {
          actionObject.handler(data);
          return
        }
        this.$router.push({name: `${this.module}.edit`, params: {id: data.row.id}})
      },
      onDelete(data) {
        let actionObject = this.findActionObject('remove')
        if (actionObject && actionObject.handler) {
          actionObject.handler(data);
          return
        }
        this.temp = data
        this.dialogVisible = true
      },
      onSizeChange(size) {
        this.pageSize = size
        this.limit = size
        this.data = {}
        this.loadData() // TODO: write query params
      },
      onCurrentChange(current) {
        this.currentPage = current
        this.start = (current - 1) * this.limit
        this.data = {}
        this.loadData()
        this.$router.replace({query: {page: current}})
      },
      async onDialogConfirm() {
        this.dialogVisible = false
        console.log('delete')
        try {
          const response = await this.deleteItem(this.temp.row.id)
          this.$message({
            message: 'Удаление успешно',
            type: 'success'
          })
          this.loadData()
          this.temp = {}
        } catch (err) {
          console.error(err)
        }
      },
      async loadDropdowns() {
        this.columns.forEach(async item => {
          if (item.hasOwnProperty('filterDropdown') &&
            item.filterDropdown === true &&
            item.hasOwnProperty('loadOptions')) {
            if (typeof item.loadOptions !== 'function') {
              console.log('loadOption prop must be a function')
              return
            }
            const response = await item.loadOptions()
            item.filterOptions = response.data.items.map(option => {
              return {value: option.id, text: option.name}
            })
          }
        })
      },
      _dictionaryMiddleware(data) {
        const arr = []
        this.columns.forEach((column, index) => {
          if (column.hasOwnProperty('dictionary')) arr.push({field: column.field, index})

          //post-processing values if needed
          if (column.hasOwnProperty('handleValue')) {
            data.items.forEach((item) => {
              item[column.field] = column.handleValue(item[column.field])
            })
          }

        });
        arr.forEach(obj => {
          data.items.map(item => {
            console.log(item, 'item')
            if (item.hasOwnProperty(obj.field)) {
              console.log('>>', obj.index, this.columns[obj.index])
              item[obj.field] = this.columns[obj.index].dictionary[item[obj.field][0]]
            }
          })
        })
        return data
      }
    }
  }
</script>
