<template>
  <div class="app-container">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('CONFIG_GROUP.CREATE.CREATE')}}</h2>
      </el-row>
      <el-row>
        <el-col :span="7">
          <el-form :model="form" :rules="rules" :label-position="'left'" ref="form">
            <el-form-item label="Название конфигурации" required prop="name">
              <el-input v-model="form.name" class="add__input add__input--name"></el-input>
            </el-form-item>
            <el-form-item label="Выберите шаблон"
                          prop="templateID">
              <el-select v-model="form.templateID"
                         @change="onTemplateSelect" class="add__input add__input--name">
                <el-option v-for="template in templateList"
                           :key="template.id"
                           :label="template.name"
                           :value="template.id">
                </el-option>
              </el-select>
              <i v-if="state.templateLoading" class="el-icon-loading"></i>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
      <el-row>
        <template-config :creating="true"
                         v-if="state.loaded"
                         :isRoot="true"
                         :template="data"
                         @on-data-change="onDataChange"
        ></template-config>
      </el-row>
      <el-row>
        <el-button @click="onCancel()">{{$t('BACK')}}</el-button>
        <el-button v-if="state.loaded" type="primary" @click="onSubmit">{{$t('SAVE')}}</el-button>
      </el-row>
    </section>
  </div>
</template>


<script>
  import router from '@/router/index'
  import templateConfig from '@/components/TemplateConfig/templateConfig'
  import {fetchTemplateConfigList, fetchTemplateConfigItem} from '@/modules/templateConfig/api'
  import {postConfig, putGroupConfig} from '../api'

  export default {
    components: {templateConfig},
    data() {
      return {
        data: {},
        body: {},
        dataCopy: {},
        state: {
          templateLoading: false,
          loaded: false
        },
        form: {
          name: '',
          templateID: ''
        },
        templateList: [],
        rules: {
          name: [
            {required: true, message: 'Пожалуйста введите название конфигурации', trigger: 'blur'}
          ],
          templateID: [
            {required: true, message: 'Пожалуйста выберите шаблон', trigger: 'change'}
          ]
        }
      }
    },
    props: ['waytopush'],
    created() {
      const query = this.$route.query;
      console.log(this.$route);
      this.state.configGroupId = this.$route.params.id;
      this.getTemplateOptions();

//      this.form.templateID = 4;
//      this.onTemplateSelect()
    },
    methods: {
      async getTemplateOptions() {
        this.state.templateLoading = true
        try {
          const response = await fetchTemplateConfigList()
          this.templateList = response.data.items
        } catch (error) {
          console.error(error)
        }
        this.state.templateLoading = false
      },
      onDataChange(event) {
        this.dataCopy = event.data;
      },
      fixBody(data) {
        let fixedBody = {};
        data.body.forEach((field) => {
          if (field.type === 'dir' || field.body) {
            console.log('dir')
            fixedBody[field.name] = this.fixBody(field)
            console.log(fixedBody[field.name]);
          } else {
            if (!field.enabled) return
            fixedBody[field.name] = field.value
          }
        });
        return fixedBody
      },
      async onSubmit() {

        this.$refs.form.validate(async valid => {
          if (valid) {
            this.save();
          } else {
            return false
          }
        })
      },
      async save() {
        let config = {};
        config[this.dataCopy.name] = this.fixBody(this.dataCopy);

        let request = {
          name: this.form.name,
          template: this.form.templateID,
          config_group: parseInt(this.state.configGroupId),
          config
        };

        try {
          const response = await postConfig(request);
//          if (this.waytopush) {
            this.$router.history.push({name: 'configGroup.edit.list', params: {id: this.state.configGroupId}})
//          } else {
//            this.$router.push({ name: 'dashboard.secondftp' })
//          }
        } catch (error) {
          console.log(error)
        }
      },
      async onTemplateSelect() {
        this.state.templateLoading = true
        try {
          const response = await fetchTemplateConfigItem(this.form.templateID)
          this.data = JSON.parse(response.data.body.body)[0]

          this.state.templateLoading = false
          this.state.loaded = true

//          this.$forceUpdate()
        } catch (error) {
          console.error(error)
        }
      }
    }
  }
</script>
