<template>
  <div class="app-container">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('CONFIG.PAGE_TITLE.EDIT')}}</h2>
      </el-row>
      <el-row type="flex" justify="space-between">
        <el-col :span="7">
          <el-form :model="form" :rules="rules" :label-position="'left'" ref="form">
            <el-form-item label="Название конфигурации" required prop="name">
              <el-input v-model="form.name" class="add__input add__input--name"></el-input>
            </el-form-item>
            <el-form-item label="Шаблон" required prop="name">
              <el-input v-model="form.templateName" class="add__input add__input--name" disabled=""></el-input>
            </el-form-item>
          </el-form>
        </el-col>
        <el-col class="text-right">
          <el-button icon="el-icon-refresh" @click="state.templateRefreshDialogVisible = true">Обновить шаблон</el-button>
        </el-col>
      </el-row>
      <el-row>
        <template-config v-if="state.loaded"
                         :isRoot="true"
                         :template="data"
                         :config="config"
                         @on-data-change="onDataChange">
        </template-config>
      </el-row>
      <el-row>
        <el-button @click="onCancel()">{{$t('BACK')}}</el-button>
        <el-button v-if="state.loaded" type="primary" @click="onSubmit">{{$t('SAVE')}}</el-button>
      </el-row>
    </section>
    <el-dialog :title="'Обновление шаблона'" :visible.sync="state.templateRefreshDialogVisible">
      <div>

        <p>
          Обновить шаблон до акутальной версии?           Некоторые данные могут быть утеряны.

        </p>

        <span slot="footer" class="dialog-footer">
        <el-button @click="state.templateRefreshDialogVisible = false">{{$t('CANCEL')}}</el-button>
        <el-button type="primary" @click="loadAcuteTemplate">{{$t('CONFIRM')}}</el-button>
    </span>
      </div>
    </el-dialog>
  </div>

</template>


<script>
  import router from '@/router/index'
  import templateConfig from '@/components/TemplateConfig/templateConfig'
  import {fetchTemplateConfigList, fetchTemplateConfigItem} from '@/modules/templateConfig/api'
  import {postConfig, putGroupConfig, fetchConfig, putConfig} from '../api'
  import ElButton from "../../../../node_modules/element-ui/packages/button/src/button.vue";

  import request from '@/utils/request'

  export default {
    components: {
      ElButton,
      templateConfig
    },
    data() {
      return {
        data: {},
        body: {},
        dataCopy: {},
        config: {},
        state: {
          loaded: false,
          templateRefreshDialogVisible: false
        },
        templateBody: [],
        form: {
          name: '',
          templateName: ''
        },
        templateList: [],
        rules: {
          name: [
            {required: true, message: 'Пожалуйста введите название конфигурации', trigger: 'blur'}
          ]
        }
      }
    },
    created() {
      this.loadConfig()
    },
    methods: {
      async loadConfig() {
        try {
          let response = await fetchConfig(this.$route.params.id);
          this.form.name = response.data.name;
          this.configData = response.data;

          this.loadCurrentTemplate()

        } catch (error) {
          console.log('error', error);
        }
      },
      async loadCurrentTemplate() {
        let response = await request({
          url: `/api/v1/configs/templates/${this.configData.template}.json`,
          method: 'get',
          params: {body: this.configData.body_id}
        });

        this.templateData = response.data

        this.form.templateName = response.data.name;
        this.data = JSON.parse(response.data.body.body)[0];

        this.config = this.configData.config[this.data.name];

        this.state.loaded = true
        this.$forceUpdate()
      },
      async loadAcuteTemplate() {
        this.state.templateRefreshDialogVisible = false
        this.state.loaded = false

        let response = await request({
          url: `/api/v1/configs/templates/${this.configData.template}.json`,
          method: 'get',
        });

        this.templateData = response.data

        this.data = JSON.parse(response.data.body.body)[0];
        this.state.loaded = true
        this.$forceUpdate()
      },
      onDataChange(event) {
        this.dataCopy = event.data;
      },
      fixBody(data) {
        let fixedBody = {};
        data.body.forEach((field) => {
          if (!field.enabled) return
          if (field.type === 'dir' || field.body) {
            fixedBody[field.name] = this.fixBody(field)
          } else {
            fixedBody[field.name] = field.value
          }
        });
        return fixedBody
      },
      async onSubmit() {
        this.$refs.form.validate(async valid => {
          if (valid) {
            this.save();
          } else {
            return false
          }
        })
      },
      async save() {

        let config = {};
        config[this.dataCopy.name] = this.fixBody(this.dataCopy);

        let request = {
          name: this.form.name,
          config,
          body_id: this.templateData.body.id
        };

        try {
          const response = await putConfig(this.$route.params.id, request);
          this.$message({
            message: 'Конфигурация изменена',
            type: 'success'
          })
        } catch (error) {
          console.log(error)
        }

      },
      async onTemplateSelect() {
        this.state.templateLoading = true
        try {
          const response = await fetchTemplateConfigItem(this.form.templateID)

          this.data = JSON.parse(response.data.body.body)[0]
          this.state.templateLoading = false
          this.state.loaded = true

        } catch (error) {
          console.error(error)
        }
      }
    }
  }
</script>
