<template>
  <div class="app-container">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('CONFIG_GROUP.PAGE_TITLE.EDIT')}}</h2>
        <p>{{$t('CONFIG.PAGE_TITLE.LIST')}}</p>
      </el-row>
      <el-row>
        <el-col :span="24">
          <custom-table
            v-loading="loading"
            :columns="columns"
            :actions="actions"
            :module="module"
            :outerManage="true"
            :outerData="configList"
            :deleteItem="deleteApi">
          </custom-table>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="6">
          <router-link :to="{ path: 'create' }" append>
            <el-button class="group-config__add-btn">{{$t('CONFIG_GROUP.CREATE.NEW')}}</el-button>
          </router-link>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
  import router from '@/router/index'
  import customTable from '@/components/CustomTable/customTable'
  import {
    postGroupConfig,
    fetchGroupConfigItem,
    putGroupConfig,
    deleteConfig
  } from '../api'

  export default {
    components: {customTable},
    data() {
      return {
        getDataApi: fetchGroupConfigItem,
        deleteApi: deleteConfig,
        columns: [
          {
            label: 'Название',
            field: 'name',
            sortable: true
          },
          {
            label: 'Шаблон',
            field: 'file'
          },
          {
            label: 'Действия',
            sortable: false,
            thClass: 'text-center'
          }
        ],
        module: 'groupConfig',
        actions: [
          {
            key: 'edit',
            handler: (data) => {
              this.$router.history.push({name: 'configGroup.editConfig', params: {id: data.row.id}})
            }
          },
          'remove'
        ],
        configList: [],
        loading: false
      }
    },
    async created() {
      this.getData()
    },
    computed: {
      pageID() {
        return this.$route.params.id
      }
    },
    methods: {
      async getData() {
        this.loading = true
        const response = await this.getDataApi(this.pageID)
        this.configList = response.data.configs
        this.loading = false
      },
      onCancel() {
        router.go(-1)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .group-config__add-btn {
    margin-top: 30px;
  }
</style>
