<template>
  <div class="app-container">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('CONFIG_GROUP.PAGE_TITLE.VIEW')}}</h2>
      </el-row>
      <el-row class="add__content">
        <el-col :span="10">
          <el-form v-loading="loading" :model="form" :label-position="'left'" ref="form">

          </el-form>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
  import Vue from 'vue'
  import router from '@/router/index'

  export default {
    data() {
      return {
        loading: false,
        groups: [],
        types: [],
        form: {
        }
      }
    },
    created() {
    },
    methods: {}
  }
</script>

<style lang="scss" scoped>
  .add__label {
    display: block;
    margin-bottom: 10px;
  }

  .add__ip-inputs-wrapper {
    margin-top: -22px;
    position: relative;
    display: inline-block;
    width: 100%;

    &::after,
    &::before {
      display: table;
      clear: both;
    }
  }

  .add__input {
    &--ip {
      width: 80px;
      margin-right: 15px;
      text-align: center;
    }
  }
</style>
