<template>
  <div class="app-container">
    <section class="device-type">
      <el-row type="flex" :justify="'space-between'" :gutter="10" align="middle">
        <h2 class="device-type__title">{{$t('CONFIG_GROUP.PAGE_TITLE.LIST')}}</h2>
        <el-button @click="onGroupCreate" class="device-type__add-btn">{{$t('CONFIG_GROUP.CREATE.NEW')}}</el-button>
      </el-row>
      <el-row>
        <el-col :span="24">
          <custom-table
            :columns="columns"
            :actions="actions"
            :module="module"
            :getData="getDataApi"
            :deleteItem="deleteApi">
          </custom-table>
        </el-col>
      </el-row>
    </section>
    <el-dialog :title="$t('CONFIG_GROUP.CREATE.ADD')" :visible.sync="dialogVisible">
      <el-form :model="form" :label-position="'left'" ref="form">
        <el-form-item label="Название набора конфигурации" required prop="name">
          <el-input @keyup.enter.native.prevent="onSubmit" v-model="form.name" :rules="rules" class="add__input add__input--name"></el-input>
        </el-form-item>
      </el-form>
      <span slot="footer" class="dialog-footer">
        <el-button @click="dialogVisible = false">{{$t('CANCEL')}}</el-button>
        <el-button type="primary" @click="onSubmit">{{$t('CONFIRM')}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
  import router from '@/router/index'
  import customTable from '@/components/CustomTable/customTable'
  import {
    fetchGroupConfigList,
    deleteGroupConfig,
    postGroupConfig
  } from '../api'

  export default {
    components: { customTable },
    data() {
      return {
        form: {
          name: ''
        },
        rules: {
          name: [
            { required: true, message: 'Пожалуйста введите название набора', trigger: 'blur' }
          ]
        },
        getDataApi: fetchGroupConfigList,
        deleteApi: deleteGroupConfig,
        columns: [
          {
            label: 'Название',
            field: 'name',
            filterable: true,
            sortable: true,
            placeholder: 'Поиск по названию'
          },
          {
            label: 'Действия',
            sortable: false,
            thClass: 'text-center'
          }
        ],
        module: 'configGroup',
        actions: ['info', 'edit', 'remove'],
        dialogVisible: false
      }
    },
    methods: {
      async onSubmit(event) {
        try {
          console.log(this.form)
          const response = await postGroupConfig(this.form)
          router.push({ name: 'configGroup.edit', params: { id: response.data.id }})
        } catch (error) {
          console.error(error)
          this.$message.error('Ошибка при сохранении набора')
        }
      },
      onCancel() {
        this.dialogVisible = false
      },
      onGroupCreate() {
        this.dialogVisible = true
      }
    }
  }
</script>

<style lang="scss">

</style>
