<template>
  <ul class="template-item__list">
    <li class="template-item__dir">
      <div class="template-item__wrapper">
        <h3>
          <span v-if="isRoot">Директория</span>
          <span v-else>Поддиректория</span>
          {{data.name}}
        </h3>
        <p v-if="!(data.body && data.body.length)">Эта директория пуста</p>
        <template v-else v-for="(item, index) in data.body">
          <div class="el-row--flex template-item__param" v-if="item.type != 'dir'">

            <div class="template-item__param__input">
              <el-input disabled v-model="item.name" placeholder="Название поля"></el-input>
            </div>

            <div class="template-item__param__input">
              <el-select
                disabled
                v-model="item.type"
                placeholder="Тип поля">
                <el-option v-for="prop in propTypes"
                           :key="prop.value"
                           :label="prop.label"
                           :value="prop.value">
                </el-option>
              </el-select>
            </div>

            <div class="template-item__param__input" v-if="item.type == 'Variant'">
              <el-select
                disabled
                v-model="item.variant"
                multiple
                filterable
                allow-create
                placeholder="Введите доступные опции">
              </el-select>
            </div>

            <div class="template-item__param__input">
              <el-checkbox disabled v-model="item.req">
                Обязательное
              </el-checkbox>
            </div>
          </div>

          <div v-if="item.type == 'dir'">
            <div class="el-row--flex flex_row">
              <template-info
                :isRoot="false"
                :template="item"
                :index="index">
              </template-info>
            </div>
          </div>

        </template>
      </div>
    </li>
  </ul>
</template>

<script>
  import ElInput from '../../../node_modules/element-ui/packages/input/src/input.vue'

  export default {
    components: {ElInput},
    name: 'template-info',
    data() {
      return {
        data: {},
        dataCopy: {},
        propTypes: [
          {
            label: 'Выбор из списка',
            value: 'Variant'
          },
          {
            label: 'Boolean',
            value: 'Boolean'
          },
          {
            label: 'Число',
            value: 'Number'
          },
          {
            label: 'Строка',
            value: 'String'
          }
        ]
      }
    },
    props: {
      template: {
        type: Object,
        required: true
      },
      isRoot: {
        type: Boolean
      },
      index: {
        type: Number
      }
    },
    created() {
      this.data = this.dataCopy = JSON.parse(JSON.stringify(this.template));
    },
    methods: {
    }
  }
</script>


<style lang="scss">
  ul {
    list-style: none;
  }

  .el-row {
    margin-bottom: 15px;
  }

  .template-item__list {
    margin: 0 0 30px;
    padding-left: 15px;
    h3:first-of-type {
      margin-top: 0;
    }
  }

  .template-item {
    &__input {
      &_dir {
        margin-left: 10px;
        width: auto;
        .el-input__inner {
          border: 0;
          border-bottom: 1px solid #d8dce5;
          border-radius: 0;
          /*background: red !important;*/
        }
      }
    }

    &__param {
      display: flex;
      margin-bottom: 10px;
      &__input {
        margin-right: 10px;
      }
    }
  }

  .template-icon__remove {
    cursor: pointer;

    &--absolute {
      display: inline-block;
      align-self: center;
      margin-right: 15px;
    }

    &_dir {
      margin-top: 10px;
    }

  }
</style>
