<template>
  <div class="app-container" v-loading="state.loading">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('QUEUE.PAGE_TITLE.INFO')}}</h2>
      </el-row>
      <el-row>
        <el-col :span="10">
          <el-form  ref="form" :model="form" :label-position="'left'">
            <el-form-item label="Описание процесса" prop="command">
              <el-input disabled v-model="form.command" class="add__input"></el-input>
            </el-form-item>
            <el-form-item label="Устройство" prop="command">
              <el-input disabled v-model="form.device" class="add__input"></el-input>
            </el-form-item>
            <el-form-item size="large">
              <el-button @click="onCancel">{{$t('BACK')}}</el-button>
              <el-button type="danger" @click="state.deleteDialogVisible = true">Отменить действие</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </section>
    <el-dialog :title="'Отменить действие?'" :visible.sync="state.deleteDialogVisible && !state.loading">
      <p>Вы действительно хотите отменить действие?</p>
      <span slot="footer" class="dialog-footer">
        <el-button @click="state.deleteDialogVisible = false">{{$t('CANCEL')}}</el-button>
        <el-button type="primary" @click="deleteQueueItem">{{$t('CONFIRM')}}</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>

  import {fetchQueueItem, deleteQueueItem} from '../api'

  export default {
    data() {
      return {
        form: {
          command: '',
          device: ''
        },
        commandsDict: {
          sendingconfig: 'Отправка конфигурации',
          sendingzip: 'Отправка ZIP-архива'
        },
        state: {
          loading: false,
          deleteDialogVisible: false
        }
      }
    },
    created() {
      this.getItem()
    },
    computed: {

    },
    methods: {
      onCancel() {
        this.$router.history.push({name: `queue.list`})
      },
      async getItem() {
        this.state.loading = true
        const response = await fetchQueueItem(this.$route.params.id)
        this.form.command = this.commandsDict[response.data.command]
        this.form.device = response.data.device.name
        this.state.loading = false
      },
      async deleteQueueItem(){
        this.state.loading = true

        try {
          await deleteQueueItem(this.$route.params.id)
          this.$router.history.push({name: `queue.list`})
          this.$message({
            message: 'Действие успешно отменено',
            type: 'success'
          })
          this.state.loading = false

        } catch(error) {
          console.log(error);
          this.state.loading = false

        }
      }
    }
  }
</script>
