<template>
  <div class="app-container">
    <section class="device-type">
      <el-row type="flex" :gutter="10" align="middle">
        <el-col :span="20">
          <h2 class="device-type__title">{{$t('QUEUE.PAGE_TITLE.LIST')}}</h2>
        </el-col>
      </el-row>
      <el-row>
        <el-col :span="24">
          <custom-table
            :columns="columns"
            :actions="actions"
            :module="module"
            :getData="getDataApi"
            :deleteItem="deleteApi">
          </custom-table>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
  import customTable from '@/components/CustomTable/customTable'
  import { fetchQueueList, deleteQueueItem } from '../api'

  export default {
    components: { customTable },
    data() {
      return {
        getDataApi: fetchQueueList,
        deleteApi: deleteQueueItem,
        columns: [
          {
            label: 'Описание процесса',
            field: 'command',
            filterable: true,
            sortable: true,
            placeholder: 'Поиск по названию',
            handleValue(value){
              let dict = {
                sendingconfig: 'Отправка конфигурации',
                sendingzip: 'Отправка ZIP-архива'
              };

              return dict[value]
            }
          },
          {
            label: 'Названия выбранных устройств',
            field: 'device.name'
          },
          {
            label: 'Действия',
            sortable: false,
            thClass: 'text-center'
          }
        ],
        module: 'queue',
        actions: ['info', 'remove']
      }
    }
  }
</script>

<style lang="scss">

</style>
