<template>
  <div class="app-container">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('TYPE_DEVICE.PAGE_TITLE.CREATE')}}</h2>
      </el-row>
      <el-row>
        <el-col :span="10">
          <el-form ref="form" :model="form" :label-position="'left'">
            <el-form-item label="Название" prop="name">
              <el-input v-model="form.name" class="add__input"></el-input>
            </el-form-item>
            <el-form-item size="large">
              <el-button type="primary" @click="onSubmit">Создать</el-button>
              <el-button @click="onCancel">Отмена</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
  import router from '@/router/index'
  import { postTypeDevice } from '../api'

  export default {
    data() {
      return {
        form: {
          name: ''
        }
      }
    },
    methods: {
      async onSubmit() {
        console.log(this.form)
        try {
          const response = await postTypeDevice(this.form)
          this.$message({
            message: 'Сохранение успешно',
            type: 'success'
          })
          this.$refs['form'].resetFields()
          router.go(-1)
        } catch (error) {
          console.error(error)
        }
      },
      onCancel() {
        router.go(-1)
      }
    }
  }
</script>
