<template>
  <div class="app-container">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('TYPE_DEVICE.PAGE_TITLE.EDIT')}}</h2>
      </el-row>
      <el-row>
        <el-col :span="10">
          <el-form v-loading="loading" ref="form" :model="form" :label-position="'left'">
            <el-form-item label="Название" prop="name">
              <el-input v-model="form.name" class="add__input"></el-input>
            </el-form-item>
            <el-form-item size="large">
              <el-button type="primary" @click="onSubmit">{{$t('SAVE')}}</el-button>
              <el-button @click="onCancel">{{$t('BACK')}}</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
  import router from '@/router/index'
  import { updateTypeDevice, fetchTypeDeviceItem } from '../api'
  // TODO: BACKEND ERROR ON PUT IN UPDATE METHOD AND GET WITH ID
  export default {
    data() {
      return {
        form: {
          name: ''
        }
      }
    },
    created() {
      this.getItem(this.id)
    },
    computed: {
      id() { return this.$route.params.id }
    },
    methods: {
      async onSubmit() {
        console.log(this.form)
        try {
          console.log(this.id)
          const response = await updateTypeDevice(this.id, this.form)
          this.$message({
            message: 'Сохранение успешно',
            type: 'success'
          })
          this.$refs['form'].resetFields()
          router.push({ name: 'typeDevice' })
        } catch (error) {
          console.error(error)
        }
      },
      onCancel() {
        router.go(-1)
      },
      async getItem() {
        this.loading = true
        const response = await fetchTypeDeviceItem(this.id)
        this.form.name = response.data.name
        this.loading = false
      }
    }
  }
</script>
