/** Colors **/
$primaryColor: #6190E8;
$fontColor: #2c3e50;
$borderColor: #8fc2c6;
$backgroundColor: #f7f7f7;
$borderColor: #d6d6d6;
$lightBackground: #fff;
/** Metrics **/
$headerHeight: 60px;
//$offset: 40px;
$offset: 0px;

/** Misc **/
$boxShadow: 0 4px 30px 0 rgba(223,225,230,0.5);
