<template>
  <div class="app-container">
    <section v-loading="loading" class="template-edit">
      <h2 class="template-edit__title">{{$t('TEMPLATE_CONFIG.PAGE_TITLE.EDIT')}}</h2>

      <h3>
        Описание
      </h3>

      <el-form :model="form" :label-position="'left'" ref="form">
        <el-form-item label="Название шаблона" required prop="name">
          <el-input v-model="form.name" class="add__input add__input--name"></el-input>
        </el-form-item>
      </el-form>

      <h3>
        Структура
      </h3>

      <template-edit
        @on-data-change="onTemplateChange"
        :isRoot="true"
        :template="data"
        v-if="!this.loading">
      </template-edit>

    </section>
    <section class="template-edit__controls">
      <el-button @click="cancel" plain>{{$t('CANCEL')}}</el-button>
      <el-button @click="trySave" type="primary" plain>{{$t('SAVE')}}</el-button>
    </section>
  </div>
</template>

<script>
  import Vue from 'vue'
  import templateEdit from '@/components/TemplateEdit/templateEdit'
  import {fetchTemplateConfigItem, updateTemplateConfigItem} from '../api'

  export default {
    components: {templateEdit},
    data() {
      return {
        temp: {},
        dialogVisible: false,
        dialogTitle: '',
        data: {},
        dataCopy: {},
        newChildName: '',
        deleted: false,
        loading: false,
        form: {
          name: ''
        }
      }
    },
    created() {
      this.loadData(this.id)
    },
    computed: {
      id() {
        return this.$route.params.id
      }
    },
    methods: {
      async loadData() {
        this.loading = true
        const response = await fetchTemplateConfigItem(this.id)
        this.form.name = response.data.name;
        this.data = this.dataCopy = JSON.parse(response.data.body.body)[0]
        console.log(this.data);
        this.loading = false
      },
      onTemplateChange(event) {
        this.dataCopy = JSON.parse(JSON.stringify(event.data));
      },
      cancel() {
        this.$router.go(-1)
      },
      trySave() {
        if (!this.form.name) {
          this.$message({
            message: 'Заполните имя шаблона',
            type: 'error'
          });
          return
        }

        if (this.validateFields(this.dataCopy)) {
          this.save()
        } else {
          this.$message({
            message: 'Не все поля шаблона заполены',
            type: 'error'
          });
        }
      },
      async save() {

        let request = {
          name: this.form.name,
          body: [this.dataCopy]
        };

        try {
          await updateTemplateConfigItem(this.id, request)
          this.$message({
            message: 'Сохранение успешно',
            type: 'success'
          });
          this.$router.history.push({name: 'template-config'})
        } catch (error) {
          console.error(error)
        }
      },
      validateFields(dir) {
        let error = false;
        if (!dir.name.length) {
          error = true
        }
        dir.body.forEach((field) => {
          if (!field.name.length || !field.type.length) {
            error = true
          }

          if (field.type === 'Variant' && !field.variant.length) {
            error = true
          }

          if (field.type === 'dir' && !error) {
            if (!this.validateFields(field)) {
              error = true
            }
          }
        });
        return !error
      },
      /**
       *
       * @param deep Number - number of nesled levels
       * @param childIndex Number - index settings prop in child array
       * @return link to settings prop or child Object
       * @private
       */
      _getObject(deep, childPath, remove) {
        let settings = this.data
        if (!deep && remove) {
          this.data = {};
          this.$nextTick(() => {
            this.deleted = true
          })
        }
        if (deep > 0) {
          if (remove) {
            for (let i = 1; i < deep; i++) {
              const index = childPath.pop()
              settings = settings.children[index]
            }
          } else {
            for (let i = 1; i <= deep; i++) {
              const index = childPath.pop()
              settings = settings.children[index]
            }
          }
        }
        return settings
      },
      _clearTemp() {
        this.temp = {}
        this.newChildName = ''
      },
      /**
       * @description nest current data to settings prop and rename all 'children' prop to 'settings'
       * @param data - {Object}
       * @returns {{settings: {}}} - valid template structure for backend
       * @private
       */
      _prepareForSend(data) {
        const newData = {
          settings: {}
        }
        renameProp(data)

        function renameProp(data) {
          if (data.length) {
            data.forEach(obj => {
              renameProp(obj)
            })
          }
          if (data.hasOwnProperty('children')) {
            data.settings = data.children
            delete data.children
            renameProp(data.settings)
          }
        }

        newData.settings = data
        return newData
      }
    }
  }
</script>
