<template>
  <div class="app-container" v-loading="loading">
    <section class="template-edit">
      <h2 class="template-edit__title">{{$t('TEMPLATE_CONFIG.PAGE_TITLE.VIEW')}}</h2>

      <template-info
        :isRoot="true"
        :template="data"
        v-if="!loading">
      </template-info>

    </section>
    <el-button @click="onBack">Назад</el-button>
    <el-button @click="onEdit">Редактировать</el-button>
  </div>
</template>

<script>
  import templateInfo from '@/components/TemplateInfo/templateInfo'
  import { fetchTemplateConfigItem } from '../api'

  export default {
    components: { templateInfo },
    data() {
      return {
        data: {},
        loading: false
      }
    },
    created() {
      this.loadData(this.id)
    },
    computed: {
      id() { return this.$route.params.id },
    },
    methods: {
      async loadData() {
        this.loading = true
        const response = await fetchTemplateConfigItem(this.id);
        this.data = JSON.parse(response.data.body.body)[0]
        this.data = JSON.parse(response.data.body.body)[0]
        this.loading = false

      },
      onBack() {
        this.$router.back()
      },
      onEdit() {
        this.$router.push({ name: 'template-config.edit', params: { id: this.id }})
      }
    }
  }
</script>
