<template>
  <div class="app-container">
    <section class="template-sets">
      <!--<el-row type="flex" :gutter="10" align="middle">-->
        <!--<el-col :span="24">-->
          <!--<h2 class="template-sets__title">{{$t('TEMPLATE_CONFIG.PAGE_TITLE.LIST')}}</h2>-->
        <!--</el-col>-->
      <!--</el-row>-->

      <el-row type="flex" :justify="'space-between'" :gutter="10" align="middle">
        <h2 class="template-sets__title">{{$t('TEMPLATE_CONFIG.PAGE_TITLE.LIST')}}</h2>
        <router-link :to="{name: 'template-config.create'}">
          <el-button class="device-type__add-btn">{{$t('TEMPLATE_CONFIG.ACTIONS.NEW')}}</el-button>
        </router-link>
      </el-row>

      <el-row>
        <el-col :span="24">
          <custom-table
            :columns="columns"
            :actions="actions"
            :module="module"
            :getData="getDataApi"
            :deleteItem="deleteApi">>
          </custom-table>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
  import customTable from '@/components/CustomTable/customTable'
  import { fetchTemplateConfigList, deleteTemplateConfigItem } from '../api'

  export default {
    components: { customTable },
    data() {
      return {
        getDataApi: fetchTemplateConfigList,
        deleteApi: deleteTemplateConfigItem,
        columns: [
          {
            label: 'Название',
            field: 'name',
            filterable: true,
            placeholder: 'Поиск по названию'
          },
          {
            label: 'Действия',
            sortable: false,
            thClass: 'text-center'
          }
        ],
        module: 'template-config',
        actions: ['info', 'edit', 'remove']
      }
    }
  }
</script>

<style lang="scss" scoped>

</style>

