<template>
  <div class="app-container">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('USER.PAGE_TITLE.CREATE')}}</h2>
      </el-row>
      <el-row>
        <el-col :span="10">
          <el-form ref="form" :model="form" :rules="rules" :label-position="'left'">
            <el-form-item label="Логин" prop="username" required>
              <el-input v-model="form.username" class="add__input"></el-input>
            </el-form-item>
            <el-form-item label="e-mail" prop="email" required>
              <el-input v-model="form.email" class="add__input"></el-input>
            </el-form-item>
            <el-form-item label="Пароль" prop="password" required>
              <el-input type="password" v-model="form.password" class="add__input"></el-input>
            </el-form-item>
            <el-form-item label="Подтверждение пароля" prop="passwordCheck" required>
              <el-input type="password" v-model="form.passwordCheck" class="add__input"></el-input>
            </el-form-item>
            <el-form-item label="Роль" prop="role" required>
              <el-select v-model="form.role"
                         class="add__select"
                         placeholder="Нет">
                <el-option
                  v-for="role in roles"
                  :key="role.value"
                  :label="role.label"
                  :value="role.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item size="large">
              <el-button type="primary" @click="onSubmit">Создать</el-button>
              <el-button @click="onCancel">Отмена</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </section>
  </div>
</template>


<script>
  import { createUser } from '../api'
  import router from '@/router/index'

  export default {
    data() {
      const validatePass = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Пожалуйста введите пароля'))
        } else {
          if (this.form.passwordCheck !== '') {
            this.$refs.form.validateField('passwordCheck')
          }
          callback()
        }
      }
      const validatePass2 = (rule, value, callback) => {
        if (value === '') {
          callback(new Error('Пожалуйста повторите ввод пароль'))
        } else if (value !== this.form.password) {
          callback(new Error('Пароли не совпадают'))
        } else {
          callback()
        }
      }
      return {
        form: {
          username: '',
          password: '',
          passwordCheck: '',
          email: '',
          role: ''
        },
        roles: [
          {
            value: 'ROLE_ADMIN',
            label: 'Администратор'
          },
          {
            value: 'ROLE_USER',
            label: 'Поддержка'
          }
        ],
        rules: {
          username: [
            { required: true, message: 'Пожалуйста введите логин', trigger: 'change' }
          ],
          email: [
            { required: true, message: 'Пожалуйста введите email', trigger: 'blur' },
            { type: 'email', message: 'Пожалуйста введите корректный email', trigger: 'blur,change' }
          ],
          password: [
            { validator: validatePass, trigger: 'blur' }
          ],
          passwordCheck: [
            { validator: validatePass2, trigger: 'blur' }
          ],
          role: [
            { required: true, message: 'Пожалуйста укажите роль', trigger: 'blur' }
          ]
        }
      }
    },
    methods: {
      onSubmit() {
        this.$refs.form.validate(async valid => {
          if (valid) {
            const data = {
              username: this.form.username,
              email: this.form.email,
              password: this.form.password,
              roles: [this.form.role]
            }
            try {
              await createUser(data)
              this.$message({
                message: 'Пользователь успешно создан',
                type: 'success'
              })
              router.go(-1)
            } catch (error) {
              console.error(error)
            }
          } else {
            console.warn('error submit')
            return false
          }
        })
      },
      onCancel() {
        router.go(-1)
      }
    }
  }
</script>
