<template>
  <div class="app-container">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('USER.PAGE_TITLE.CREATE')}}</h2>
      </el-row>
      <el-row>
        <el-col :span="10">
          <el-form v-loading="loading" ref="form" :model="form" :rules="rules" :label-position="'left'">
            <el-form-item label="Логин" prop="username">
              <el-input v-model="form.username" class="add__input"></el-input>
            </el-form-item>
            <el-form-item label="e-mail" prop="email">
              <el-input v-model="form.email" class="add__input"></el-input>
            </el-form-item>
            <el-form-item label="Изменение пароля" prop="password">
              <el-input type="password" v-model="form.password" class="add__input"></el-input>
            </el-form-item>
            <el-form-item label="Подтверждение нового пароля" prop="passwordCheck">
              <el-input type="password" v-model="form.passwordCheck" class="add__input"></el-input>
            </el-form-item>
            <el-form-item label="Роль" prop="role">
              <el-select v-model="form.role"
                         class="add__select"
                         placeholder="Нет">
                <el-option
                  v-for="role in roles"
                  :key="role.value"
                  :label="role.label"
                  :value="role.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item size="large">
              <el-button type="primary" @click="onSubmit">{{$t('SAVE')}}</el-button>
              <el-button @click="onCancel">{{$t('BACK')}}</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </section>
  </div>
</template>


<script>
  import { fetchUserItem, updateUser } from '../api'
  import router from '@/router/index'

  export default {
    data() {
      const validatePass = (rule, value, callback) => {
        if (this.form.passwordCheck !== '') {
          this.$refs.form.validateField('passwordCheck')
        }
        callback()
      }
      const validatePass2 = (rule, value, callback) => {
        if (this.form.passwordCheck !== '' && value === '') {
          callback(new Error('Пожалуйста повторите ввод пароля'))
        } else if (value !== this.form.password) {
          callback(new Error('Пароли не совпадают'))
        } else {
          callback()
        }
      }
      return {
        loading: false,
        form: {
          username: '',
          password: '',
          passwordCheck: '',
          email: '',
          role: ''
        },
        roles: [
          {
            value: 'ROLE_ADMIN',
            label: 'Администратор'
          },
          {
            value: 'ROLE_USER',
            label: 'Поддержка'
          }
        ],
        roleDictionary: {
          ROLE_ADMIN: 'Администратор',
          ROLE_USER: 'Поддержка'
        },
        rules: {
          username: [
            { message: 'Пожалуйста введите логин', trigger: 'change' }
          ],
          email: [
            { message: 'Пожалуйста введите email', trigger: 'blur' },
            { type: 'email', message: 'Пожалуйста введите корректный email', trigger: 'blur,change' }
          ],
          password: [
            { validator: validatePass, trigger: 'blur' }
          ],
          passwordCheck: [
            { validator: validatePass2, trigger: 'blur' }
          ],
          role: [
            { message: 'Пожалуйста укажите роль', trigger: 'blur' }
          ]
        }
      }
    },
    computed: {
      id() { return this.$route.params.id }
    },
    created() {
      this.getUser()
    },
    methods: {
      async getUser() {
        this.loading = true
        const response = await fetchUserItem(this.id)
        Object.assign(this.form, response.data)
        this.form.role = this.roleDictionary[response.data.roles[0]]
        this.loading = false
      },
      onSubmit() {
        this.$refs.form.validate(async valid => {
          if (valid) {
            const data = {
              username: this.form.username,
              email: this.form.email,
              roles: [this.form.role]
            }
            if (this.form.password) {
              data.password = this.form.password
            }
            try {
              await updateUser(this.id, data)
              this.$message({
                message: 'Пользователь успешно изменен',
                type: 'success'
              })
              router.go(-1)
            } catch (error) {
              console.error(error)
            }
          } else {
            console.warn('error submit')
            return false
          }
        })
      },
      onCancel() {
        router.go(-1)
      }
    }
  }
</script>
