<template>
  <div class="app-container">
    <el-row type="flex" :justify="'space-between'" :gutter="10" align="middle">
      <h2 class="template-sets__title">{{$t('USER.PAGE_TITLE.LIST')}}</h2>
      <router-link :to="{ path: 'create'}" append>
        <el-button class="device-type__add-btn">{{$t('USER.NEW')}}</el-button>
      </router-link>
    </el-row>
    <el-row>
      <el-col :span="24">
        <custom-table
          :columns="columns"
          :actions="actions"
          :module="module"
          :getData="getDataApi"
          :deleteItem="deleteApi">
        </custom-table>
      </el-col>
    </el-row>
  </div>
</template>

<script>
  import customTable from '@/components/CustomTable/customTable'
  import { fetchUserList, deleteUser } from '../api'

  export default {
    components: { customTable },
    data() {
      return {
        getDataApi: fetchUserList,
        deleteApi: deleteUser,
        columns: [
          {
            label: 'Логин',
            field: 'username',
            filterable: true,
            placeholder: 'Поиск по логину'
          },
          {
            label: 'E-mail',
            field: 'email',
            filterable: true,
            placeholder: 'Поиск по e-mail'
          },
          {
            label: 'Роль',
            field: 'roles',
            filterable: true,
            filterDropdown: true,
            filterOptions: [{
              value: 'ROLE_ADMIN',
              text: 'Администратор'
            },
            {
              value: 'ROLE_OPERATOR',
              text: 'Поддержка'
            }],
            dictionary: {
              ROLE_ADMIN: 'Администратор',
              ROLE_USER: 'Поддержка'
            },
            placeholder: 'Фильтр по роли'
          },
          {
            label: 'Действия',
            sortable: false,
            thClass: 'text-center'
          }
        ],
        module: 'user',
        actions: ['edit', 'remove']
      }
    },
    methods: {}
  }
</script>
