<template>
  <div class="app-container">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('DEVICE.PAGE_TITLE.CREATE')}}</h2>
      </el-row>
        <el-row class="add__content">
          <el-col :span="10">
            <el-form :model="form" :label-position="'left'" :rules="rules" ref="form">
              <el-form-item label="Название" required prop="name">
                <el-input v-model="form.name" class="add__input add__input--name"></el-input>
              </el-form-item>
              <el-form-item label="IP" required prop="ip">
                <div class="add__ip-inputs-wrapper">
                  <template v-for="octet, index in 4">
                    <el-input v-model="form.ip[index]" class="add__input add__input--ip" :maxlength="3" @keyup.native="handleFocus($event, index)"></el-input>
                  </template>
                </div>
              </el-form-item>
              <el-form-item label="Порт" required prop="port">
                <el-input v-model="form.port" class="add__input"></el-input>
              </el-form-item>
              <el-form-item label="Тип устройства" required prop="type_device">
                <el-select v-model="form.type_device">
                  <el-option
                    v-for="option in types"
                    :key="option.id"
                    :label="option.name"
                    :value="option.id">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Группа устройств">
                <el-select v-model="form.groups" multiple placeholder="Нет">
                  <el-option
                    v-for="option in groups"
                    :key="option.id"
                    :label="option.name"
                    :value="option.id">
                  </el-option>
                </el-select>
              </el-form-item>
              <el-form-item label="Автообновление">
                <el-checkbox v-model="form.auto_update"></el-checkbox>
              </el-form-item>
              <el-form-item size="large">
                <el-button type="primary" @click="onSubmit">Создать</el-button>
                <el-button @click="onCancel">Назад</el-button>
              </el-form-item>
            </el-form>
          </el-col>
        </el-row>
    </section>
  </div>
</template>

<script>
  import Vue from 'vue'
  import router from '@/router/index'
  import { fetchGroupDeviceList } from '@/modules/groupDevice/api'
  import { fetchTypeDeviceList } from '@/modules/typeDevice/api'
  import { postDevice } from '../api'
  import { createDevice } from '../api'

  export default {
    data() {
      const checkIP = (rule, value, cb) => {
        const regDigit = /\d/
        function isEmptyOctet(element, index, array) {
          return (element === '')
        }
        function isAllDigits(element, index, array) {
          return !regDigit.test(element)
        }
        if (value.length < 4 || value.some(isEmptyOctet)) {
          return cb(new Error('Все октеты должны быть заполнены'))
        }
        if (value.some(isAllDigits)) {
          return cb(new Error('Допускаются только числа'))
        }
        cb()
      }
      const checkPort = (rule, value, cb) => {
        if (value === '') return cb(new Error('Это поле не может быть пустым'))
        const _value = Number(value)
        if (isNaN(_value)) return cb(new Error('Номер порта должен быть числом'))
        cb()
      }
      return {
        groups: [],
        types: [],
        form: {
          name: '',
          ip: [],
          port: 0,
          type_device: '',
          auto_update: false,
          groups: []
        },
        rules: {
          name: [
            { required: true, message: 'Это поле не может быть пустым', trigger: 'blur' }
          ],
          ip: [
            { validator: checkIP, trigger: 'blur' }
          ],
          port: [
            { validator: checkPort, trigger: 'blur' }
          ],
          type_device: [
            { required: true, message: 'Это поле не может быть пустым', trigger: 'blur' }
          ]
        }
      }
    },
    created() {
      this.fetchGroups()
      this.fetchTypes()
    },
    methods: {
      async fetchGroups() {
        const response = await fetchGroupDeviceList()
        this.groups = response.data.items
      },
      async fetchTypes() {
        const response = await fetchTypeDeviceList()
        this.types = response.data.items
      },
      handleFocus(e, index) {
        const which = e.which
        const target = e.target
        const _value = Number(target.value)
        // condition for move to next octet
        if (target.value.length === 3 || Number(which) === 39) {
          if (index === 0 && target.value <= 0) Vue.set(this.form.ip, index, 1)
          if (target.value > 255) Vue.set(this.form.ip, index, 255)
          if (target.value < 0) Vue.set(this.form.ip, index, 0)
          focusNextIpGroup(target)
        }
        function focusNextIpGroup(startElement) {
          const parent = startElement.parentElement
          try {
            const nextFocusInput = parent.nextElementSibling.children[0]
            if (nextFocusInput.tagName === 'INPUT') {
              nextFocusInput.focus()
            }
          } catch (err) {
            return
          }
        }
      },
      async onSubmit() {
        this.$refs['form'].validate(async(valid) => {
          if (valid) {
            try {
              const response = await postDevice({
                name: this.form.name,
                ip: this.form.ip.join('.'),
                port: this.form.port,
                type_device: this.form.type_device,
                auto_update: this.form.auto_update,
                groups: this.form.groups
              })
              this.successSave()
              router.go(-1)
            } catch (error) {
              console.error(error)
            }
          } else {
            console.log('validation error')
            return false
          }
        })
      },
      onCancel() {
        router.go(-1)
      },
      successSave() {
        this.$message({
          message: 'Устройство успешно добавлено',
          type: 'success'
        })
      }
    }
  }
</script>

<style lang="scss" scoped>
  .add__label {
    display: block;
    margin-bottom: 10px;
  }

  .add__ip-inputs-wrapper {
    margin-top: -22px;
    position: relative;
    display: inline-block;
    width: 100%;

    &::after,
    &::before {
      display: table;
      clear: both;
    }
  }

  .add__input {
    &--ip {
      width: 80px;
      margin-right: 15px;
      text-align: center;
    }
  }
</style>
