<template>
  <div class="app-container">
    <section class="devices">
      <el-row type="flex" :justify="'space-between'" :gutter="10" align="middle">
        <h2 class="devices__title">{{$t('DEVICE.PAGE_TITLE.LIST')}}</h2>
        <router-link :to="{ path: 'create'}" append>
          <el-button class="device-type__add-btn">{{$t('DEVICE.PAGE_TITLE.CREATE')}}</el-button>
        </router-link>
      </el-row>
      <el-row>
        <el-col :span="24">
          <custom-table
            :columns="columns"
            :actions="actions"
            :module="module"
            :getData="getDataApi"
            :deleteItem="deleteApi">
          </custom-table>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
  import customTable from '@/components/CustomTable/customTable'
  import { fetchDeviceList, deleteDevice } from '../api'
  import { fetchTypeDeviceList } from '@/modules/typeDevice/api.js'

  export default {
    components: { customTable },
    data() {
      return {
        getDataApi: fetchDeviceList,
        deleteApi: deleteDevice,
        columns: [
          {
            label: 'Название',
            field: 'name',
            filterable: true,
            sortable: true,
            placeholder: 'Поиск по названию'
          },
          {
            label: 'IP',
            field: 'ip',
            filterable: true,
            placeholder: 'Поиск по IP'
          },
          {
            label: 'Тип устройства',
            field: 'type_device.name',
            filterable: true,
            filterDropdown: true,
            filterOptions: [],
            loadOptions: fetchTypeDeviceList,
            placeholder: 'Фильтр по типу'
          },
          {
            label: 'Действия',
            sortable: false,
            thClass: 'text-center'
          }
        ],
        module: 'device',
        actions: ['info', 'edit', 'remove']
      }
    }
  }
</script>
