<template>
  <div class="app-container">
    <section class="dashboard__change-group">
      <el-row type="flex" :gutter="10" align="middle">
        <el-col :span="20">
          <h2 class="dashboard__subtitle">{{$t('DASHBOARD.PAGE_TITLE.CHANGE_GROUP')}}</h2>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
  export default {
    data() {
      return {}
    }
  }
</script>
