<template>
  <div class="app-container">
    <section class="dashboard__ftp">
      <el-row>
        <h2 class="dashboard__subtitle">{{$t('Шаг 1')}}</h2>
      </el-row>
      <el-row>
        <h4 class="ftp__title">
          Сформируйте xml файл инструкций для развёртки zip
        </h4>
        <config v-bind:waytopush="false"></config>
        <!--
          <p v-if="directory.showDir"> Поддиректория: {{ directory.name }}</p>
          <el-button class="direct-btn" type="primary" @click="directory.visible = true">{{ directory.change }}</el-button><br>
          <el-table
          :data="items"
          style="width: 75%"
          id="fields"
          v-if="directory.showDir">
          <el-table-column
            prop="id"
            label="#"
            width="180">
          </el-table-column>
          <el-table-column
            prop="name"
            label="Имя"
            width="180">
          </el-table-column>
          <el-table-column
            prop="value"
            label="Значение">
          </el-table-column>
          <el-table-column align="center" prop="actions" label="Действия">
            <template slot-scope="scope">
              <i class="el-icon-edit field-icon" @click="openEditField(scope.$index)"></i>
              <i class="el-icon-delete field-icon" @click="deleteField(scope.$index)"></i>
            </template>
          </el-table-column>
          </el-table>
          <el-button v-if="directory.showDir" @click="row.visible = true">Добавить поле</el-button>
          <el-button v-if="directory.name !=''" type="primary" @click="nextStep">{{$t('Далее')}}</el-button>
        -->
          
      </el-row>
      <!-- 
        <el-dialog :title="'Добавить поле'" :visible.sync="row.visible">
          <el-form>
            <el-form-item required label="Имя параметра">
              <el-input class="modal-input" v-model="name"></el-input>
            </el-form-item>
            <el-form-item required label="Значение параметра">
              <el-input class="modal-input" v-model="value"></el-input>
           </el-form-item>
         </el-form>
         <span slot="footer" class="dialog-footer">
           <el-button @click="row.visible = false">{{$t('CANCEL')}}</el-button>
           <el-button type="primary" @click="addField">OK</el-button>
        </span>
      </el-dialog>
      <el-dialog :title="'Изменить поле'" :visible.sync="edit.visible">
          <el-form>
            <el-form-item required label="Имя параметра">
              <el-input class="modal-input" v-model="edit.name"></el-input>
            </el-form-item>
            <el-form-item required label="Значение параметра">
              <el-input class="modal-input" v-model="edit.value"></el-input>
           </el-form-item>
         </el-form>
         <span slot="footer" class="dialog-footer">
           <el-button @click="edit.visible = false">{{$t('CANCEL')}}</el-button>
           <el-button type="primary" @click="editField">OK</el-button>
        </span>
      </el-dialog>
      <el-dialog :title="directory.change" :visible.sync="directory.visible">
        <el-form>
          <el-form-item required label="Введите название поддиректории">
            <el-input class="modal-input" v-model.lazy="directory.name"></el-input>
          </el-form-item>
        </el-form>
        <span slot="footer" class="dialog-footer">
          <el-button @click="directory.visible = false">{{$t('CANCEL')}}</el-button>
          <el-button type="primary" @click="addDirectory">OK</el-button>
        </span>
      </el-dialog>
      -->
    </section>
  </div>
</template>

<script>
  import Vue from 'vue'
  import router from '@/router/index'
  import config from '@/modules/configGroup/containers/createConfig'

  export default {
    data() {
      return {
        directory: {
          visible: false,
          showDir: false,
          change: 'Добавить поддиректорию',
          name: ''
        },
        row: {
          visible: false
        },
        items: [],
        edit: {
          visible: false,
          name: '',
          value: '',
          index: 0
        }
      }
    },
    components: {
      config
    },
    methods: {
      /*addDirectory() {
        if (this.directory.name !== '') {
          this.directory.change = 'Изменить поддиректорию'
          this.directory.showDir = true
        }
        this.directory.visible = false
      },
      addField() {
        this.items.push({
          name: this.name,
          value: this.value,
          id: this.items.length + 1
        })
        this.row.visible = false
      },
      openEditField(index) {
        this.edit.visible = true
        this.edit.id = index
      },
      editField() {
        this.items[this.edit.id].name = this.edit.name
        this.items[this.edit.id].value = this.edit.value
        this.edit.visible = false
      },
      deleteField(index) {
        this.items.splice(index, 1)
      },
      nextStep() {
        this.$router.push({ name: 'dashboard.secondftp' })
      }*/
    }
  }
</script>
<style scoped>
  .dashboard__ftp{
    text-align: center;
  }
  .dashboard__subtitle{
    text-align: center;
    margin-bottom: 10px;
  }
  .ftp__title{
    text-align: left;
    margin-bottom: 50px;
  }
  .direct-btn{
    margin-bottom: 30px;
  }
  #fields{
    padding: 0;
    list-style-type: none;
    margin: auto;
    margin-bottom: 20px;
    text-align: left;
  }
  .modal-input{
    width: 55%;
    float: right;
  }
  .field-icon{
    font-size: 18px;
    cursor: pointer;
  }
</style>
