<template>
  <div class="app-container">
    <section class="dashboard__ftp">
      <el-row>
        <h2 class="dashboard__subtitle">{{$t('Шаг 2')}}</h2>
      </el-row>
      <el-row>
        <h4 class="ftp__title">
          Прикрепите необходимый файл для загрузки
        </h4>
      </el-row>
      <vue-dropzone ref="myVueDropzone" v-on:vdropzone-file-added="fileLoad = false" v-on:vdropzone-sending="dropzoneSend" id="dropzone" :options="dropzoneOptions"></vue-dropzone>
      <el-button class="upload" :disabled="fileLoad" type="primary" v-on:click="uploadFile">{{$t('UPLOAD')}}</el-button>
      <el-button class="remove" :disabled="fileLoad" v-on:click="removeFile">{{$t('CANCEL')}}</el-button>
    </section>
  </div>
</template>
<script>
  import router from '@/router/index'
  import vue2Dropzone from 'vue2-dropzone'
  // import 'vue2-dropzone/dist/vue2Dropzone.css'
  import { postFile } from '../api'

  export default {
    components: {
      vueDropzone: vue2Dropzone
    },
    data() {
      return {
        dropzoneOptions: {
          url: 'index.php',
          thumbnailWidth: 150,
          maxFilesize: 10000,
          maxFiles: 1,
          autoProcessQueue: false,
          dictDefaultMessage: 'Перетащите файл сюда',
          dictFallbackMessage: 'Нажмите, чтобы загрузить файл',
          dictFileTooBig: 'Файл слишком большой',
          dictResponseError: 'Сервер не отвечает'
        },
        fileLoad: true,
      }
    },
    methods: {
      uploadFile() {
        this.$refs.myVueDropzone.processQueue()
      },
      async dropzoneSend(file, xhr, formData) {
        console.log("file");
        console.log(file);
        console.log("formData");
        console.log(formData);
        try {
          let data = new FormData()
          data.append('file', file)
          const response = await postFile(data)
        } catch(error) {
          console.error(error)
        }
      },
      removeFile() {
        this.$refs.myVueDropzone.removeAllFiles(true)
        this.fileLoad = true
      }
    }
  }

</script>
<style scoped>
  .dashboard__ftp{
    text-align: center;
  }
  .dashboard__subtitle{
    text-align: center;
    margin-bottom: 10px;
  }
  .ftp__title{
    text-align: left;
    margin-bottom: 50px;
  }
  .upload{
    margin-top: 20px;
  }
</style>
