<template>
  <ul class="template-item__list">
    <li class="template-item__dir">
      <div class="template-item__wrapper">
        <h3>
          <span v-if="isRoot">Директория</span>
          <span v-else>Поддиректория</span>
          {{data.name}}
        </h3>

        <template v-for="(item, index) in data.body">
          <div v-if="item.type != 'dir'">
            <el-row type="flex" :gutter="30" align="middle">
              <el-checkbox
                @change="onFieldToggle"
                v-model="item.enabled"
                :disabled="item.req">
                {{item.name}}
              </el-checkbox>
              <el-col :span="6">
                <el-input
                  v-if="item.type == 'String'"
                  v-model="item.value"
                  :disabled="!item.enabled">
                </el-input>
                <el-input
                  v-if="item.type == 'Number'"
                  type="number"
                  v-model="item.value"
                  :disabled="!item.enabled">
                </el-input>
                <el-checkbox
                  v-if="item.type == 'Boolean'"
                  v-model="item.value"
                  :disabled="!item.enabled">
                  Включить
                </el-checkbox>
                <el-select
                  v-if="item.type == 'Variant'"
                  v-model="item.value"
                  :disabled="!item.enabled">
                  <el-option v-for="prop in item.variant"
                             :key="prop"
                             :value="prop">
                  </el-option>
                </el-select>
              </el-col>
            </el-row>
          </div>
          <div v-if="item.type == 'dir'">
            <template-config
              @on-data-change="onChildChange"
              :template="copy(item)"
              :index="index"
              :config="item.config"
            ></template-config>
          </div>
        </template>
      </div>
    </li>
  </ul>
</template>

<script>
  import Vue from 'vue'

  export default {
    name: 'template-config',
    data() {
      return {
        temp: false,
        data: {},
        dataCopy: {},
        propTypes: [
          {
            label: 'Выбор из списка',
            value: 'Custom'
          },
          {
            label: 'Boolean',
            value: 'Boolean'
          },
          {
            label: 'Число',
            value: 'Number'
          },
          {
            label: 'Строка',
            value: 'String'
          }
        ]
      }
    },
    props: {
      template: {
        type: Object,
        required: true
      },
      isRoot: {
        type: Boolean
      },
      index: {
        type: Number
      },
      isLoad: {
        type: Boolean
      },
      creating: {
        type: Boolean
      },
      config: {
        type: Object
      }
    },
    created() {
      this.init()
    },
    watch: {
      data: {
        handler: function () {
          this.onDataChange()
        },
        deep: true
      },
      'template': function () {
        this.init()
      }
    },
    methods: {
      copy(field) {
        return JSON.parse(JSON.stringify(field))
      },
      init() {
        this.data = this.dataCopy = JSON.parse(JSON.stringify(this.template));

        if (this.creating) {
          this.enableAll()
        }

        if (this.config) {
          this.fillTemplate()
        }
      },
      fillTemplate() {
        this.data.body.forEach((field) => {
          if (this.config[field.name] === undefined) {
            field.enabled = false
            return
          }

          switch (field.type) {
            case 'Boolean': {
              field.value = Boolean(parseInt(this.config[field.name]))
              field.enabled = true
            } break;
            case 'Number': {
              field.value = parseInt(this.config[field.name])
              field.enabled = true
            } break;
            case 'String': {
              field.value = this.config[field.name]
              field.enabled = true
            } break;
            case 'dir': {
              field.config = this.config[field.name]
              field.enabled = true
            } break;
            default: {

            }
          }

        })
      },
      enableAll() {
        this.data.body.forEach((field) => {
          if (field.type == 'dir') {
          } else {
            field.enabled = true
          }
        })
      },
      onFieldToggle(index) {
        this.$forceUpdate()
      },
      onDataChange() {
        this.$emit('on-data-change', {data: this.data, index: this.index});
      },
      onChildChange(event) {
        this.dataCopy.body[event.index] = event.data;
        this.onDataChange()
      }
    }
  }
</script>

<style lang="scss" scoped>
  ul {
    list-style: none;
  }

  .el-row {
    margin-bottom: 15px;
  }

  .template-item__list {
    /*margin: 30px 0;*/
  }

  .template-icon__remove {
    cursor: pointer;

    &--absolute {
      display: inline-block;
      align-self: center;
      margin-left: -20px;
    }
  }
</style>
