<template>
  <div v-show="isInSearch" class="search" :class="{'search--mini': sidebar.opened}" v-loading="loading">
    <transition name="slide-fade">
      <div class="search-land" v-if="!searchBar.top">
        <div class="land-profits">
          <div class="land-profit-item">
            <img src="/ic_1.svg" alt="find solutions">
            <p>Найдем любые инновационные решения для вашего бизнеса</p>
          </div>
          <div class="land-profit-item">
            <img src="/ic_2.svg" alt="find solutions">
            <p>Найдем клиента для любого инновационного решения</p>
          </div>
        </div>
        <h2 class="land-proposal">Найдите инновацию</h2>
        <h4 class="land-preposition">или</h4>
        <button class="upload nuclear">
          Загрузить работу
        </button>
      </div>
    </transition>
      <el-input v-model="query"
                placeholder="Введите запрос, например: Павлов Иван Петрович"
                @keyup.enter.native="launchQuery"
                @blur="launchQuery"
                :class="{filled: searchBar.top}">
        <el-button @click="launchQuery" slot="append" icon="el-icon-search"></el-button>
      </el-input>
      <div v-if="(!isThereGraphData && !loading && searchBar.top)" class="message">Результатов не найдено...</div>
  </div>
</template>

<script>
  import { mapGetters, mapActions } from 'vuex'
  import { EventBus } from "@/utils/eventBus";

  export default {
    name: 'Search',
    mounted() {
      EventBus.$on('drop', this.clearQuery)
    },
    data () {
      return {
        query: '',
        loading: false,
      }
    },
    computed: {
      isInSearch() {
        return this.$route.path === "/search";
      },
      ...mapGetters([
        'isThereGraphData',
        'searchBar',
        'sidebar'
      ]),
    },
    methods: {
      async launchQuery () {
        if (!this.query) return this.clearQuery()
        if (this.oldQuery === this.query) return
        this.oldQuery = this.query
        this.liftSearchBarUp()
        this.loading = true
        await this.getGraphData(this.query)
        if (this.isThereGraphData) this.$router.push('graph')
        this.loading = false
      },
      clearQuery () {
        this.resetSearchBar()
        this.loading = false
        this.query = ''
        this.$router.push('/')
      },
      pop () {
        this.popGraphDataCache(1)
      },
      resetSearchBar() {
        this.$store.dispatch('toggleSearchBar', { top: false })
      },
      liftSearchBarUp() {
        this.$store.dispatch('toggleSearchBar', { top: true })
      },
      ...mapActions(['getGraphData', 'popGraphDataCache'])
    }
  }
</script>

<style lang="scss" scoped>
  @import "../../styles/vars.scss";
  $SearchBottomOffset: $offset / 4;
  $SearchInputOffset: $offset + 20px;
  $SearchBackground: $lightBackground;
  $SearchBoxShadow: $boxShadow;

  .search {
    width: calc(100% - 36px);
    height: calc(100vh - #{$headerHeight + $SearchBottomOffset});
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    text-align: center;
    //background: $SearchBackground;
    //box-shadow: $SearchBoxShadow;
    /*background: rgba(255,255,255,0);*/
    transition: width .28s linear;

    .land-profits {
      display: flex;
      width: calc(100% - #{$SearchInputOffset + 600px});
      position: absolute;
      top: 20%;
      z-index: 100;
      color: black;

      .land-profit-item {
        img {
          width: 20%;
        }
        display: flex;
        align-items: center;
        align-content: center;
        width: 50%;
        flex-basis: 50%;
      }
    }

    .search-land {
      color: white;
      font-weight: bold;
      width: calc(100% - 36px);
      height: calc(100vh - #{$headerHeight + $SearchBottomOffset});
      display: flex;
      align-items: center;
      justify-content: center;
      position: absolute;
      background: url('/bg_gradient.svg') bottom center no-repeat,
      url('/bg_home.svg') top left no-repeat;

      .land-preposition {
        position: absolute;
        top: 65%;
      }

      .nuclear {
        position: absolute;
        height: 60px;
        width: 230px;
        border: none;
        border-radius: 30px;
        display: flex;
        justify-content: center;
        align-items: center;
        top:75%;
        color: white;
        font-weight: bold;
        outline: none;
        background-color: #744EFF;
        cursor: pointer;
      }
    }

    .slide-fade-enter-active {
      transition: all .5s ease;
    }
    .slide-fade-leave-active {
      transition: all .5s cubic-bezier(1.0, 0.5, 0.8, 1.0);
    }
    .slide-fade-enter, .slide-fade-leave-to
      /* .slide-fade-leave-active до версии 2.1.8 */ {
      transform: translateX(10px);
      opacity: 0;
    }

    &--mini {
      width: calc(100% - 230px);
      .el-input {
        width: calc(90% - #{$SearchInputOffset});
      }
    }

    .el-input {
      border-radius: 20px;
      background-color: #744EFF;
      width: calc(100% - #{$SearchInputOffset + 600px});
      position: absolute;
      top: 60%;
      margin-top: -22.5px;
      transition: top .5s ease-out, width .28s linear;
      &.filled {
        position: absolute;
        top: -22.5px;
        transition: .5s top ease-in;
      }
    }
    .message {
      position: absolute;
      top: 50%;
      text-align: center;
      font-size: 20px;
      color: $fontColor;
    }
  }
</style>
