<template>
  <div class="catalogue-wrapper">
    <ul>
      <li class="catalogue-item" v-for="item in items">
        <router-link :to="'/catalogue/'+ item.to">
          {{item.name}}
        </router-link>
      </li>
    </ul>
  </div>
</template>

<script>
  export default {
    name: 'Catalogue',
    components: {},
    data() {
      return {
        items: [
          { name: 'Энергетика', to: 'energy' },
          { name: 'Физика', to: 'physics' },
          { name: 'Текстиль, бумага', to: 'paper' },
          { name: 'Машиностроение', to: 'paper' },
          { name: 'Строительство', to: 'building' }
        ]
      }
    }
  }
</script>

<style lang="scss">
  .catalogue-wrapper {
    padding: 40px 80px;
  }
  .catalogue-item {
    padding: 20px 30px;
    font-size: 30px;

    a:hover {
      color: #744EFF;
    }
  }
</style>
