<el-dialog
  title="Tips"
  :visible.sync="dialogVisible"
  width="30%"
  :before-close="">
  <h3 class="dialog__title">{{title}}</h3>
  <div v-if="body" class="dialog__body">{{body}}</div>
  <span slot="footer" class="dialog-footer">
    <el-button @click="dialogVisible = false">Отмена</el-button>
    <el-button v-if="isRemove" type="primary" @click="handleOk">Ок</el-button>
    <el-button v-else type="primary" @click="handleRemove">Удалить</el-button>
  </span>
</el-dialog>

<script>
  export default {
    data() {
      return {
        dialogVisible: false
      }
    },
    props: {
      title: {
        type: String,
        required: true
      },
      body: {
        type: String
      },
      isRemove: Boolean
    },
    methods: {
      async handleRemove(done) {
        if (this.isRemove) {
          try {
            await this.$confirm('Вы действительно хотите удалить данные?')
            done()
          } catch (err) {
            console.log('remove has been rejected')
          }
        }
      },
      _closeDialog() {
        this.dialogVisible = false
      }
    }
  }
</script>
