<template>
  <div id="app">
    <div class="app-wrapper" :class="{hideSidebar:!sidebar.opened}">
      <sidebar class="sidebar-container"></sidebar>
      <div class="main-container">
        <navbar></navbar>
        <search-bar></search-bar>
        <app-main></app-main>
      </div>
    </div>
  </div>
</template>

<script>
  import AppMain from 'components/AppMain/AppMain.vue'
  import Sidebar from 'components/Sidebar/index.vue'
  import Navbar from 'components/Navbar/Navbar.vue'
  import SearchBar from 'components/SearchBar/SearchBar.vue'

  export default {
    name: 'APP',
    components: {
      Navbar,
      Sidebar,
      SearchBar,
      AppMain
    },
    computed: {
      sidebar() {
        return this.$store.state.app.sidebar
      }
    }
  }
</script>


<style lang="scss">
@import '~normalize.css/normalize.css';
@import './styles/index.scss';
</style>

<style lang="scss" scoped>
  @import "./styles/mixin.scss";
.app-wrapper {
  @include clearfix;
  position: relative;
  height: 100%;
  width: 100%;
}
</style>
