<template>
  <div class="app-container">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('GROUP_DEVICE.PAGE_TITLE.CREATE')}}</h2>
      </el-row>
      <el-row>
        <el-col :span="10">
          <el-form ref="form" :model="form" :label-position="'left'">
            <el-form-item label="Название" prop="name">
              <el-input v-model="form.name" class="add__input"></el-input>
            </el-form-item>
            <el-form-item label="Родительская группа" prop="parent">
              <el-select
                v-model="form.parent"
                placeholder="Нет">
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item size="large">
              <el-button type="primary" @click="onSubmit">Создать</el-button>
              <el-button @click="onCancel">Отмена</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
  import router from '@/router/index'
  import { fetchGroupDeviceList, postGroupDevice } from '../api'

  export default {
    data() {
      return {
        form: {
          name: '',
          parent: ''
        },
        options: [
          {
            value: '',
            label: 'Нет'
          }
        ]
      }
    },
    created() {
      this.loadOptions()
    },
    methods: {
      async onSubmit() {
        try {
          if(!this.form.parent.length) delete this.form.parent
          await postGroupDevice(this.form)
          this.$message({
            message: 'Сохранение успешно',
            type: 'success'
          })
          this.$refs['form'].resetFields()
          router.go(-1)
        } catch (error) {
          console.error(error)
        }
      },
      onCancel() {
        router.go(-1)
      },
      async loadOptions() {
        const response = await fetchGroupDeviceList()
        const options = response.data.items.map(option => {
          return { value: option.id, label: option.name }
        })
        this.options = this.options.concat(options)
      }
    }
  }
</script>

<style lang="scss" scoped>
  .add__label {
    display: block;
    margin-bottom: 10px;
  }

  .add__ip-inputs-wrapper {
    margin-top: -22px;
    margin-bottom: 22px;
  }

  .add__input {
    &--ip {
      width: 80px;
      margin-right: 15px;
      text-align: center;
    }
  }
</style>
