<template>
  <div class="app-container">
    <section class="add">
      <el-row>
        <h2 class="add__title">{{$t('GROUP_DEVICE.PAGE_TITLE.INFO')}}</h2>
      </el-row>
      <el-row>
        <el-col :span="10">
          <el-form v-loading="loading" ref="form" :model="form" :label-position="'left'">
            <el-form-item label="Название" prop="name">
              <el-input disabled v-model="form.name" class="add__input"></el-input>
            </el-form-item>
            <el-form-item label="Родительская группа" prop="parent">
              <el-select
                v-model="form.parent"
                placeholder="Нет"
                disabled>
                <el-option
                  v-for="item in options"
                  :key="item.value"
                  :label="item.label"
                  :value="item.value">
                </el-option>
              </el-select>
            </el-form-item>
            <el-form-item size="large">
              <el-button @click="onEdit">{{$t('EDIT')}}</el-button>
              <el-button @click="onCancel">{{$t('BACK')}}</el-button>
            </el-form-item>
          </el-form>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
  import router from '@/router/index'
  import { fetchGroupDeviceList, postGroupDevice, fetchGroupDeviceItem, putGroupDeviceItem } from '../api'

  export default {
    data() {
      return {
        form: {
          name: '',
          parent: ''
        },
        options: [
          {
            value: '',
            label: 'Нет'
          }
        ],
        loading: false
      }
    },
    computed: {
      id() {
        return this.$route.params.id
      }
    },
    created() {
      this.loadGroup()
      this.loadOptions()
    },
    methods: {
      onCancel() {
        router.go(-1)
      },
      onEdit() {
        this.$router.push({ name: `groupDevice.edit`, params: { id: this.id }})
      },
      async loadOptions() {
        const response = await fetchGroupDeviceList()
        const options = response.data.items.map(option => {
          return { value: option.id, label: option.name }
        })
        this.options = this.options.concat(options)
      },
      async loadGroup() {
        this.loading = true
        const response = await fetchGroupDeviceItem(this.id)
        this.form.name = response.data.name
        this.form.parent = response.data.parent.id
        console.log(response.data)
        this.loading = false
      }
    }
  }
</script>

<style lang="scss" scoped>
  .add__label {
    display: block;
    margin-bottom: 10px;
  }

  .add__ip-inputs-wrapper {
    margin-top: -22px;
    margin-bottom: 22px;
  }

  .add__input {
    &--ip {
      width: 80px;
      margin-right: 15px;
      text-align: center;
    }
  }
</style>
