<template>
  <div class="app-container">
    <section class="device-group">
      <el-row type="flex" :justify="'space-between'" :gutter="10" align="middle">
        <h2 class="devices__title">{{$t('GROUP_DEVICE.PAGE_TITLE.LIST')}}</h2>
        <router-link :to="{ path: 'create'}" append>
          <el-button class="device-type__add-btn">{{$t('GROUP_DEVICE.NEW')}}</el-button>
        </router-link>
      </el-row>
      <el-row>
        <el-col :span="24">
          <custom-table
            :columns="columns"
            :actions="actions"
            :module="module"
            :getData="getDataApi"
            :deleteItem="deleteApi">
          </custom-table>
        </el-col>
      </el-row>
    </section>
  </div>
</template>

<script>
  import customTable from '@/components/CustomTable/customTable'
  import { fetchGroupDeviceList, deleteGroup } from '../api'

  export default {
    components: { customTable },
    data() {
      return {
        getDataApi: fetchGroupDeviceList,
        deleteApi: deleteGroup,
        columns: [
          {
            label: 'Название',
            field: 'name',
            filterable: true,
            sortable: true,
            placeholder: 'Поиск по названию'
          },
          {
            label: 'Действия',
            sortable: false,
            thClass: 'text-center'
          }
        ],
        module: 'groupDevice',
        actions: ['info', 'edit', 'remove']
      }
    }
  }
</script>
